/***** BASE STYLES ************/
html,
body {
	width: 100%;
	height: 100%;
	font-size: 1em;
	font-family: 'Source Sans Pro', sans-serif;
	color: #2b2b2b;
}



/***** HEADER *************/


header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: 700px;
	background: url('../img/hero.png');
	background-size: cover;
}

header .content-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	padding-top: 40px;
}

header .full-width {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

header .headline {
	padding-top: 30px;
	width: 80%;
}

header h1 {
	font-family: 'Lora', sans-serif;
	font-weight: bolder;
	color: #BBC085;
	font-size: 40px;
	letter-spacing: 0px;
	margin: 0;
}

nav {
	font-family: 'Source Sans Pro', sans-serif;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	text-transform: uppercase;
	font-size: 25px;
	text-decoration: none;
	color: #828282;
	padding-left: 30px;
}


header h2 {
	clear: both;
	font-family: 'Lora', sans-serif;
	font-weight: bold;
	font-size: 56px;
	line-height: 80px;
	color: #9b9b9b;
}

header span {
	color: #2b2b2b;
}


/****ABOUT*****************/

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

#about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 40px;
}

#about .content-wrapper {
	width: 90%;
}

#about .full-width {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0 90px 0;
	width: 90%;
}

#about .half-width {
	width: 90%;
	padding-bottom: 30px;
}


#about h2 {
	font-family: 'Lato', sans-serif;
	font-size: 40px;
	color: #2b2b2b;
	padding-left: 10px;
}

#about p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	line-height: 24px;
	color: #7F7F7F;
	line-height: 1.75;
	padding-left: 10px;
	padding-right: 50px;
}



/*****WORK*****************/

#work {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: #ffefe8;
	text-align: center;
}

#work .full-width {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 120px 0 60px 0;
}

#work .third-width {
	width: 70%;
	padding-bottom: 160px;
}

#work img {
	padding-bottom: 30px;
}

#work h3 {
	font-family: 'Lato', sans-serif;
	color: #2B2B2B;
	font-size: 40px;
	line-height: 1.75;
	width: 50%;
	margin: 0 auto;
}

#work p {
	font-family: 'Lora', serif;
	font-size: 40px;
	line-height: 1.75;
	color: #2B2B2B;
	padding: 0 50px;
}


/****** CONTACT *************/


#contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	background: white;
}

#contact .content-wrapper {
	width: 100%;
}

#contact .full-width {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 110px 0;
}

#contact .half-width {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}

#contact-info {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact-image {
	width: 300px;
}

#contact img#contact-image {
	box-shadow: 10px 10px 12px lightgrey;
}

#contact #envelope {
	padding: 0 10px 0 115px;
}

#contact h2 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	line-height: 44px;
	color: #2b2b2b;
	margin: 0;
	padding-top: 50px;
}

#contact #email-header {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 40px;
	font-weight: 400;
	line-height: 44px;
	color: #2b2b2b;
	padding-top: 40px;
}

#contact #socialmedia-header {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 700;
	font-size: 30px;
	line-height: 44px;
	color: #2b2b2b;
	padding-top: 40px;

}

#contact a {
	text-decoration: none;
	color: #2b2b2b;
	font-size: 40px;
	padding-right: 70px;
}

#contact ul {
	list-style: none;
	padding-left: 90px;
}

#contact ul li {
	display: inline-block;
}

#contact ul img {
	font-size: 32px;
	padding-right: 48px;
}




/*---------------DESKTOP STYLES--------*/


@media only screen and (min-width: 1200px) {


	header .content-wrapper {
		justify-content: space-between;
	}

	#about .full-width {
		flex-direction: row;
	}

	#about p {
		font-size: 24px;
		width: 80%;
		padding: 0;
	}

	#work .full-width {
		flex-direction: row;
	}

	#work .third-width {
		width: 60%;
	}

	#work h3 {
		font-size: 22px;
		width: 100%;
	}

	#work p {
		font-size: 20px;
	}

	#contact .full-width {
		flex-direction: row;
	}

	#contact #email-header {
		font-size: 32px;
		margin: 0;
	}

	#contact #socialmedia-header {
		font-size: 22px;
		padding-top: 0;
	}

	#contact #envelope {
		padding-top: 20px;
		padding-left: 0;
	}

	#contact h2 {
		font-size: 32px;
	}

	#contact a {
		font-size: 28px;
		padding: 0;
	}

	#contact ul {
		padding-left: 50px;
	}
}